<mat-toolbar>
    <!-- <div class="toggle">
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)">
            <mat-icon>{{ mode }}</mat-icon>
        </mat-slide-toggle>
    </div> -->
    <mat-nav-list>
        <mat-list-item *ngFor="let theme of themes" (click)="setTheme(theme.name)">
            <mat-icon mat-list-icon>{{ theme.icon }}</mat-icon>
            <h3 matLine>{{ theme.name }}</h3>
            <mat-icon *ngIf="colorSchemeService.currentActive() === theme.name">check</mat-icon>
        </mat-list-item>
    </mat-nav-list>
</mat-toolbar>
<mat-card>
    <mat-card-title> Hello </mat-card-title>
    <mat-card-subtitle>
        complete this form
    </mat-card-subtitle>
    <form>
        <mat-form-field>
            <input matInput placeholder="Email" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Full name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" />
        </mat-form-field>
        <button mat-raised-button color="primary">Get Started</button>
    </form>
    <mat-card-subtitle>
        By signing up you are aggreed to our
        <strong style="letter-spacing: 1px">Terms and conditions</strong>
    </mat-card-subtitle>
</mat-card>