@import './src/my-theme.scss';



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/images/blurred-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}


// @media (prefers-color-scheme: dark) {
//     .darkMode {
//         @include mat.core-color($dark-theme);
//         @include mat.all-component-colors($dark-theme);
//         @include mat.button-color($dark-theme);
//     }
// }


// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;